.container{
	width: 1080px;
	text-align: center;
	background-color: white;
	border: 3px lightgreen;
	
}

#top-bar{
	height: 145px;
	background-image: url(Top-Bar.png);
	
}

#follower-count{
	height: 355px;
	background-image: url(Follower-Count.png);
	margin-bottom: 50px;
}

#username{
	text-align: center;
}

#photo-bar{
	height: 140px;
}

#ig-image .ig-image img{
	display: inline-block;
	height: 300px; 
	width: 400px;
}

#profile-picture{

	height: 255px;
	width: 255px;
	margin-top
	margin-left
}

#bottom-bar{
	height: 135px;
}

